<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invoced_company.name %>
</p>

<%= link_to 'Edit', edit_invoced_company_path(@invoced_company) %> |
<%= link_to 'Back', invoced_companies_path %>
